[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
pipfile = "*"
joblib = "*"
scikit-learn = "==0.22.2.post1"
h5py = "*"
keras = "*"
numpy = "*"

[requires]
python_version = "3"
